{% model_form 'project_requests', success: '/confirmations/estimate-request', error: '/estimate', id: 'estimate-form' %}
  {% if project_request.errors %}
    <p>The following errors occured:</p>
    <ul>
    {% for error in project_request.errors %}
      <li>{{error[0] | capitalize}} -  {{error[1]}}</li>
    {% endfor %}
    </ul>
  {% endif %}
    <label>
      <strong>Full Name:</strong>{% include 'required' %}
      <input name="content[name]" required type="text"  value="{{project_request.name}}">
    </label>
    <label>
      <strong>Best Email:</strong>{% include 'required' %}
      <input name="content[email]" required type="email"  value="{{project_request.email}}">
    </label>
    <label>
      <strong>Your Phone:</strong>{% include 'required' %}
      <input name="content[phone]" required type="tel" value="{{project_request.phone}}">
    </label>
    <label>
      <strong>Your Address:</strong>{% include 'required' %}
      <input class="thin" name="content[address]" required type="text" value="{{project_request.address}}">
      <fieldset class="row collapse">
        <div class="column small-6">
          <label>
            City:
            <input name="content[city]" required type="text" value="{{project_request.city}}">
          </label>
        </div>
        <div class="column small-2">
          <label>
            State:
            <input name="content[state]" required type="text" value="{{project_request.state}}">
          </label>
        </div>
        <div class="column small-4">
          <label>
            Zip:
            <input name="content[zip]" required type="text" value="{{project_request.zip}}">
          </label>
        </div>
      </fieldset>
    </label>
    <label>
      <strong>Boat Information:</strong>
      <fieldset class="row collapse">
        <div class="column small-3">
          <label>
            Year
            <input name="content[boat_year]" required type="text" value="{{project_request.boat_year}}">
          </label>
        </div>
        <div class="column small-3">
          <label>
            Length
            <input name="content[boat_length]" required type="text" value="{{project_request.boat_length}}">
          </label>
        </div>
        <div class="column small-6">
          <label>
            Brand
            <input name="content[boat_brand]" required type="text" value="{{project_request.boat_brand}}">
          </label>
        </div>
      </fieldset>
      <fieldset class="row collapse">
        <div class="column small-6">
          <label>
            Model
            <input name="content[boat_model]" required type="text" value="{{project_request.boat_model}}">
          </label>
        </div>
        <div class="column small-6">
          <label>
            Name/Hull#
            <input name="content[boat_name]" required type="text" value="{{project_request.boat_name}}">
          </label>
        </div>
      </fieldset>
    </label>
    <label>
      <strong>Project Location:</strong>
      <fieldset class="row collapse">
        <div class="column small-6">
          <label>
            Marina Name/Storage Unit
            <input name="content[marina_name]" required type="text" value="{{project_request.marina_name}}">
          </label>
        </div>
        <div class="column small-3">
          <label>
            Building#
            <input name="content[building_number]" required type="text" value="{{project_request.building_number}}">
          </label>
        </div>
        <div class="column small-3">
          <label>
            Slip#
            <input name="content[slip_number]" required type="text" value="{{project_request.slip_number}}">
          </label>
        </div>
      </fieldset>
      <label>
        Additional Details
        <input name="content[location]" type="text" value="{{project_request.location}}">
      </label>
    </label>

<!--     <label>
      <strong>Services Required:</strong>{% include 'required' %}
      <fieldset class="service-checkboxes row medium-up-2">
        {% for service in contents.services %}
          <div class="column">
            <input id="{{ service._id }}" type="checkbox"><label for="checkbox1">{{ service.title }}</label>
          </div>
        {% endfor %}
      </fieldset>
    </label> -->
    <label>
     <strong>Project Description:</strong>{% include 'required' %}
      <textarea class="autosize" name="content[project_description]" rows="6" required >{{project_request.project_description}}</textarea>
    </label>
    <label>
      When would you like your project completed by?
      <input name="content[completion_date]" type="text" >
    </label>
    <fieldset class="row medium-up-2">
      <div class="column">
        <label>
          <strong>First Attachment:</strong>
          <input type="file" name="content[attachment_1]">
        </label>
      </div>
      <div class="column">
        <label>
          <strong>Second Attachment:</strong>
          <input type="file" name="content[attachment_2]">
        </label>
      </div>
      <div class="column">
        <label>
          <strong>Third Attachment:</strong>
          <input type="file" name="content[attachment_3]">
        </label>
      </div>
      <div class="column">
        <label>
          <strong>Forth Attachment:</strong>
          <input type="file" name="content[attachment_4]">
        </label>
      </div>
    </fieldset>
  <div class="robot-warning hide callout text-center warning">
    Are you robot?
  </div>
  <div class="callout g-recaptcha text-center" data-sitekey="6LdbaUwUAAAAAFPucKMnLxCnYvIPBr3UQNOLYCE2"></div>
  <input type="submit" class="button expanded large" value="Let's Get Started!">
{% endmodel_form %}
