---
title: Service Template Page
content_type: services
---
{% extends 'layouts/application' %}
{% block main %}
  <header class="service" data-background-url="{{ service.featured_image.url | resize: '1200x400#' }}">
    <div class="content row column text-center">
      <h1>{{ service.title }}</h1>
    </div>
  </header>
  <p class="lead text-center">{{ service.brief }}<hr style="width:25%"></p>
  <div class="row column callout">
    <div class="column medium-5">
      <div class="card">
        <img class="" src="{{ service.images.first.file.url }}">
      </div>
    </div>
    <div class="column medium-7">
      {{ service.description }}
      <p class="cta text-center">
        <a href="#" class="button"><strong>Get a Free Estimate</strong></a>
      </p>
    </div>
  </div>
  <div class="row column callout medium-up-5">
    {% for image in service.images %}
      <div class="column column-block">
        <img class="" src="{{ image.file.url }}">
      </div>
    {% endfor %}
  </div>
{% endblock %}

