---
title: Home page
slug: index
position: 0
listed: true
published: true
is_layout: false
---
{% extends 'layouts/application' %}
{% block 'main' %}
<header>
    <div class="content row column text-center">
        <h1>
          Canvas Innovations
        </h1>
        <p>West Michigan's Premier Shop for All Your Canvas and Upholstery Needs.</p>
        <p class="cta">
          {% include 'estimate_button' %}
        </p>
    </div>
</header>
<section class="services featured">
    <div class="row">
        {% with_scope featured: true %} {% for service in contents.services %}
        <div class="columns medium-4">
            <div class="card text-center">
                <div class="card-divider">
                    <p class="lead"><a href="{% path_to service %}">{{ service.title }}</a></p>
                </div>
                <img src="{{ service.featured_image.url | resize: '600x450#' }}">
                <div class="card-section">
                    {{ service.brief }}
                </div>
            </div>
        </div>
        {% endfor %} {% endwith_scope %}
    </div>
    </div>
    <section class="services standard">
        <div class="row small-up-2 medium-up-3 large-up-4">
            {% with_scope featured: false %} {% for service in contents.services %}
            <div class="columns medium-4">
                <div class="card text-center">
                    <div class="card-divider">
                        <p class="lead"><a href="{% path_to service %}">{{ service.title }}</a></p>
                    </div>
                    <img src="{{ service.featured_image.url | resize: '400x300#' }}">
                    <div class="card-section hide-for-small-only">
                        {{ service.brief }}
                    </div>
                </div>
            </div>
            {% endfor %} {% endwith_scope %}
        </div>
    </section>

    {% endblock %}
