---
title: Application
slug: application
position: 99
listed: false
published: false
is_layout: true
---
<!doctype html>
<html class="no-js" lang="en">
  <head>
    {% include 'metatags' %}
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    {{ 'app.css' | stylesheet_tag }}
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=###"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
      gtag('config', '###');
    </script>
    {% block head %}
    {% endblock %}
  </head>
  <body class="{{ page.slug }}">
    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="row column">
        <div class="top-bar-left">
          <div class="logo">
            <a href="/">
              <img src="{{ 'CanvasInnovations-logo.jpg' | theme_image_url | resize: '125x40#'}}" width="125" height="87" alt="Canvas Innovations Logo">
            </a>
          </div>
        </div>

        <div class="top-bar-right">
          {% include 'dropdown-menu' %}
        </div>
      </div>
    </div>
    <!-- End Top Bar -->
    <div class="row column">
      {% block main %}
        <h1>{% editable_text "heading", line_break: false, format: 'raw', rows: 1 %}{% endeditable_text %}</h1>
        {% editable_text content %}Lorem ipsum{% endeditable_text %}
      {% endblock %}
    </div>

    <footer>
      <div class="top row expanded text-center">
        <div class="row">
          <div class="column medium-4 large-3">
            <p class="lead">
              Contact us
            </p>
            <p>
              {% include 'phone_number' %}<br>

              {% include 'email_address' %}<br>
                          </p>
            <p>
              {% include 'formatted_address' %}<br>

            </p>
            <p>
              Hours of Operation:<br>
Monday through Friday, <br>
8:00 AM to 5:00 PM <br>
Saturdays by Appointment<br>
            </p>
          </div>
          <div class="column medium-4 large-3 hide-for-small-only">
            <p class="lead">
              Services
            </p>
            <p>
              {% for service in contents.services limit:8 %}
                <a href="{% path_to service %}">{{ service.title }}</a><br>
              {% endfor %}
            </p>
          </div>
          <div class="column medium-4 large-3 hide-for-medium-only hide-for-small-only">
            <p class="lead">
              Projects
            </p>
            <p>
              {% for project in contents.projects limit:8 %}
                <a href="{% path_to project %}">{{ project.title }}</a><br>
              {% endfor %}
            </p>

          </div>
          <div class="column medium-4 large-3">
            <p class="lead">
              <a href="/testimonials"><u>Testimonials</u></a>
            </p>
            {% assign testimonial_number = contents.testimonials.size | random %}
            <p>
              {% for testimonial in contents.testimonials offset:testimonial_number limit:1 %}
                {{ testimonial.content | truncate: 250 }}<br>
                -- {{ testimonial.who }}
              {% endfor %}
            </p>
          </div>
        </div>
        <p class="lead">
          Canvas Innovations - {% include 'phone_number' %}
        </p>
        <p class="cta">
          <a href="#" class="button"><strong>Get a Free Estimate</strong></a>
        </p>
      </div>
      <div class="bottom row expanded text-center">
        <p>
          <small>
            You've reached the bottom of the page, please feel free to call if you have any questions: {% include 'phone_number' %}
          </small>
        </p>
      </div>
    </footer>
    <script  src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    {{ 'app.js'                   | javascript_tag }}
    {% block body_bottom %}
    {% endblock %}
  </body>
</html>
